
# ================================================================================
# How-To
# --------------------------------------------------------------------------------
# /folder      - Ignore this folder.
# /file        - Ignore this file.
# /file.ext    - Ignore this file.
# /*.ext       - Ignore everything(1) with the specified extension (.ext).
#
# /folder/*    - Ignore everything(1).
# /folder/*/   - Ignore only the subfolders.
#
# Use the following two lines to ignore all the files in the folder,
# but not its subolders.
# /folder/*
# !*/
# --------------------------------------------------------------------------------
# Notes:
# (1) everything: files and folders.
# --------------------------------------------------------------------------------
# References:
# https://stackoverflow.com/questions/2545602/how-to-git-ignore-subfolders-subdirectories
# https://stackoverflow.com/questions/35030403/git-ignore-subfolders-but-not-the-files-in-a-folder
# https://stackoverflow.com/questions/18930103/git-ignore-everything-in-a-directory-except-subfolders
# ================================================================================

# General rules
.idea
.vs
.vscode
.backups
.pytest*
__pycache__
node_modules
obj
*.pyHistory
*.png~
*.zip
*.sde
*.csproj.user

/Proj/bin/*
/Proj/doc
/Proj/cfg/*
/Proj/dat/*
/Proj/log/*
/Proj/out/*
/Proj/tmp/*
/Proj/wsd/*


/Proj/src/src/NDSH.Geospatial.Metadata.Utilities/src/Properties/Secret.txt
